body
{
    background: #111;
}

section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    padding-top: 25px;
}

section h2
{
    color: #fff;
    font-size: 4em;
}

section h3 
{ 
   color: #66fcf1;
   font-size: 2em;
}

section form {
    color: #66fcf1;
}