.columns
{
    /* position: relative; */
    width: 100%;
    min-height: 100vh;
    margin-top: 150px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 100px;
    z-index: -1;
}

    .column
    {
        float: left;
        width: 33%;
        border-radius: 12px
    }

    .column:hover
    {
        transition: 0.5s;
        background: #45a29e;
        box-shadow: 0 0 10px #45a29e, 0 0 40px #45a29e,0 0 80px #66fcf1;
    }

    .column:hover > p
    {
        transition: color 0.1s;
        color: #111;
    }

    .column:hover > h2
    {
        transition: color 0.1s;
        color: #111;
    }

p
{
    font-size: 1.25em;
    margin-right: 25px;
    margin-left: 25px;
    text-align: center;
}

h2
{
    color: #fff;
    text-align: center;
}

.columns img{
    width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  border-radius: 12px
}
.columns .btn{
    width: inherit;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {background: #eee;}

.services
{
    color: black
}


