section
{
    position: relative;
    width: 100%;
    min-height: 25vh;
    margin-top: 100px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 25px;
    z-index: -1;
}

section h2
{
    color: #fff;
    font-size: 4em;
}

section p
{
    font-size: 1.25em;
}
body{
    color: #fff;
}
.donateForm
{
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
    color: #e8e6e3;
    font-size: 1.25em;
    z-index: 9999;
    position: inherit;
}
input, select{
    border-color: #575757;
    color: #e8e6e3;
    background-color: #000;
    padding: 2px;
    border-radius: 5px;
}
.glow{
    text-decoration: none;
    color: inherit;
}
.glow:hover{
    transition: color 0.7s;
    color: #111;
    background: #66fcf1;
    box-shadow: 0 0 10px #66fcf1,
    0 0 40px #66fcf1,
    0 0 80px #66fcf1;
}